In [2]:
# %matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv('e:/thcborges/onedrive/cursos/udemy/machine-learning/pandas/copacabana_lat_lng.csv')

In [4]:
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Posicao</th>
      <th>Quartos</th>
      <th>Vagas</th>
      <th>DistIpanema</th>
      <th>DistPraia</th>
      <th>DistFavela</th>
      <th>RendaMedia</th>
      <th>RendaMovel</th>
      <th>RendaMovelRua</th>
      <th>Vu2009</th>
      <th>Mes</th>
      <th>Idade</th>
      <th>Tipologia</th>
      <th>AreaConstruida</th>
      <th>VAL_UNIT</th>
      <th>X</th>
      <th>Y</th>
      <th>lat</th>
      <th>lng</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>3.0</td>
      <td>0.01</td>
      <td>1144</td>
      <td>311</td>
      <td>146</td>
      <td>969501</td>
      <td>1028834</td>
      <td>999168</td>
      <td>1750</td>
      <td>509</td>
      <td>37.0</td>
      <td>1</td>
      <td>95</td>
      <td>4379</td>
      <td>685365.0700</td>
      <td>7457802.680</td>
      <td>-22.977728</td>
      <td>-43.191741</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>2.0</td>
      <td>0.01</td>
      <td>2456</td>
      <td>502</td>
      <td>254</td>
      <td>1472861</td>
      <td>1137759</td>
      <td>1305310</td>
      <td>2300</td>
      <td>484</td>
      <td>30.0</td>
      <td>1</td>
      <td>71</td>
      <td>6479</td>
      <td>685941.5500</td>
      <td>7459001.320</td>
      <td>-22.966842</td>
      <td>-43.186264</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>2.0</td>
      <td>0.01</td>
      <td>2448</td>
      <td>772</td>
      <td>229</td>
      <td>1803724</td>
      <td>1512475</td>
      <td>1658100</td>
      <td>2350</td>
      <td>920</td>
      <td>44.0</td>
      <td>1</td>
      <td>58</td>
      <td>12414</td>
      <td>685627.3900</td>
      <td>7459080.520</td>
      <td>-22.966162</td>
      <td>-43.189337</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>2.0</td>
      <td>0.01</td>
      <td>1615</td>
      <td>428</td>
      <td>310</td>
      <td>1124331</td>
      <td>1370600</td>
      <td>1247466</td>
      <td>2200</td>
      <td>930</td>
      <td>43.0</td>
      <td>1</td>
      <td>88</td>
      <td>11250</td>
      <td>685438.2001</td>
      <td>7458268.280</td>
      <td>-22.973516</td>
      <td>-43.191084</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>2.0</td>
      <td>1.00</td>
      <td>2358</td>
      <td>586</td>
      <td>287</td>
      <td>1165764</td>
      <td>1177933</td>
      <td>1171849</td>
      <td>2150</td>
      <td>918</td>
      <td>42.0</td>
      <td>1</td>
      <td>68</td>
      <td>13382</td>
      <td>685764.3840</td>
      <td>7458954.513</td>
      <td>-22.967284</td>
      <td>-43.187986</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
plt.scatter(df['lng'], df['lat'], marker='.')